body {
  margin: 0;
  background-color: 405;

  text-align: center;
  font-family: "Merriweather", serif;
}
h1,
h2 {
  color: #66bfbf;
}
h3,
a {
  color: #11999e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  line-height: 2;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.skill-row {
  height:200px;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  border: black 2px solid;

}
.cam {
  width: 25%;
  float: left;
  height: 200px;
  margin-right: 20px;
}

.fps {
  width: 25%;
  height: 200px;
  float: left;
  margin-left: 20px;

}
